<!-- Body Content -->
<div class="app-content">
  <div class="docubodyTitle">
    <ul id="breadcrumb">
      <li>
        <a href="javascript:void(0);">
          <span class="icon icon-beaker"> </span>System Configuration</a
        >
      </li>
      <li>
        <a href="javascript:void(0);">
          <span class="icon icon-beaker"> </span>Vessel Type</a
        >
      </li>
    </ul>
    <div class="bttnGroup">
      <button
        type="button"
        class="addNew"
        data-toggle="modal"
        data-target="#addVesselTypes"
        data-backdrop="static"
      >
        <img src="image/world.png" /> Add Vessel Type
      </button>
    </div>
  </div>
  <div class="docuContent">
    <div class="manageOrganization vesslesDocumentsTable">
      <div class="row" style="margin-bottom: 5px">
        <div class="col-lg-6 col-md-6">
          <div class="datatableEntry">
            <label
              >Show
              <input
                type="text"
                ng-model="itemsPerPage"
                style="width: 40px; height: 30px"
              />
              of
              <span>{{vesselsTypeList.length}}</span>
            </label>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="docuchainSearchbox">
            <div class="searchInput">
              <input
                type="text"
                placeholder="Search..."
                ng-model="search"
                style="height: 30px"
              />
              <button type="button" class="searchIcon">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
          <div class="docuchainmanageOrganization">
            <div class="manageOrganizationTable table-responsive">
              <table
                class="table custom-modern-table"
                style="table-layout: auto; width: 100%; margin-bottom: 0"
              >
                <thead>
                  <tr>
                    <th style="width: 80px">S.No</th>
                    <th
                      ng-click="orderByField='vesselsTypeName'; reverseSort = !reverseSort"
                    >
                      <div class="th-content">
                        Vessel Type <i class="fa fa-sort"></i>
                      </div>
                    </th>
                    <th class="text-center" style="width: 100px">
                      <div class="th-content justify-center">Action</div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    dir-paginate="vessel in fData=(vesselsTypeList|filter:search) |itemsPerPage:itemsPerPage | orderBy:orderByField:reverseSort"
                    current-page="currentPage"
                  >
                    <td>{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                    <td class="font-weight-medium">
                      {{vessel.vesselsTypeName}}
                    </td>
                    <td class="text-center">
                      <button
                        type="button"
                        class="modern-action-btn btn-edit"
                        data-toggle="modal"
                        data-target="#editVesselTypes"
                        ng-click="editVesselspopup(vessel)"
                        title="Edit"
                      >
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                      </button>
                    </td>
                  </tr>
                  <tr ng-show="fData.length == 0">
                    <td colspan="3" class="text-center p-4">
                      No Records Found
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="pagination-footer">
              <div class="pagination-info text-muted">
                Showing {{vesselsTypeList.length > 0 ? (itemsPerPage *
                (currentPage - 1) + 1) : 0}} to {{itemsPerPage * currentPage >
                vesselsTypeList.length ? vesselsTypeList.length : itemsPerPage *
                currentPage}} of {{vesselsTypeList.length}} entries
              </div>
              <div class="pagination-controls">
                <dir-pagination-controls
                  max-size="5"
                  direction-links="true"
                  boundary-links="true"
                ></dir-pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="confplaceholder">
    <div class="modal fade" id="addVesselTypes" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Vessel Type</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              ng-click="closeOrCancel()"
            >
              &times;
            </button>
          </div>
          <div class="modal-body">
            <div class="subscriptbody">
              <div class="form">
                <form name="ship">
                  <div class="form-group">
                    <label>Vessel Type </label>
                    <div class="form-group">
                      <input
                        type="Text"
                        placeholder="Vessel Type"
                        ng-pattern="/^[a-zA-Z ]*$/"
                        ng-model="role.aliasName"
                        required
                      />
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="modal-footer1">
              <!-- <button
                type="button"
                class="btngeo clearbtn"
                ng-click="closeOrCancel()"
              >
                CLEAR
              </button>
              <button
                type="button"
                ng-disabled="ship.$invalid"
                class="btngeo submitbtn clr448aff"
                ng-click="addVessels(role)"
              >
                SUBMIT
              </button> -->
              <button
                type="button"
                class="btn-modern clear-btn"
                ng-click="closeOrCancel()"
              >
                <span class="btn-text">CLEAR</span>
                <span class="icon-circle"> <i class="fa fa-times"></i></span>
              </button>

              <button
                type="submit"
                class="btn-modern submit-btn"
                ng-click="addVessels(role)"
              >
                <span class="btn-text">SUBMIT</span>
                <span class="icon-circle">
                  <i class="fa fa-check"></i>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit new Popup -->
  <div class="confplaceholder">
    <div class="modal fade" id="editVesselTypes" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Vessel Type</h4>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <div class="modal-body">
            <div class="subscriptbody">
              <div class="form">
                <form name="vessel">
                  <div class="form-group">
                    <label>Vessel Type Name</label>
                    <div class="form-group">
                      <input
                        type="Text"
                        placeholder="Vessel Type"
                        ng-pattern="/^[a-zA-Z ]*$/"
                        ng-model="role.editVesselname"
                        required
                      />
                      <input
                        type="Text"
                        placeholder="Role Alias Name"
                        ng-model="role.editRoleId"
                        hidden
                      />
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="modal-footer1">
              <!-- <button type="button" class="btngeo clearbtn">Clear</button> -->

              <!-- <button
                type="button"
                ng-disabled="vessel.$invalid"
                class="btngeo submitbtn clr448aff"
                ng-click="editVessels(role)"
              >
                SUBMIT
              </button> -->
              <button
                type="submit"
                ng-disabled="vessel.$invalid"
                class="btn-modern submit-btn"
                ng-click="editVessels(role)"
              >
                <span class="btn-text">SUBMIT</span>
                <!-- <span class="icon-circle">
                  <i class="fa fa-check"></i>
                </span> -->
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="preloader" ng-show="loader">
    <div id="cssload-loader">
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
    </div>
  </div>
</div>
<toaster-container
  toaster-options="{'position-class': 'toast-custom-right', 'close-button': true, 'time-out': 5000}"
></toaster-container>
