<aside
  class="app-sidebar"
  ng-app="dapp"
  ng-controller="AdminDashboardController"
  ng-init="getPendingCount()"
>
  <div class="sidebar-logo-container">
    <a href="javascript:void(0);" ui-sref="dapp.admindashboard">
      <img
        ng-src="{{logoPath || 'image/Sealedger- light.png'}}"
        alt="Logo"
        class="sidebar-main-logo"
      />
    </a>
  </div>

  <ul class="app-menu">
    <!-- <div class="sidebar-menu-header">
      <span>MAIN MENU</span>
      <i class="fa fa-chevron-down"></i>
    </div> -->

    <li ui-sref-active="active" ng-click="admindashboardClick()">
      <a class="app-menu__item" ui-sref="dapp.admindashboard">
        <i class="fa fa-home menu-icon"></i>
        <span class="app-menu__label">Dashboard</span>
      </a>
    </li>

    <li ui-sref-active="active" ng-click="adminVesselsClick()">
      <a
        class="app-menu__item"
        ui-sref="{{active == 'Expired' ? 'dapp.expiredSubscription': 'dapp.adminVessels'}}"
      >
        <i class="fa fa-ship menu-icon"></i>
        <span class="app-menu__label">Vessels</span>
      </a>
    </li>

    <li ui-sref-active="active" ng-click="adminUsersClick()">
      <a
        class="app-menu__item"
        ui-sref="{{active == 'Expired' ? 'dapp.expiredSubscription': 'dapp.adminUsers'}}"
      >
        <i class="fa fa-users menu-icon"></i>
        <span class="app-menu__label">Users</span>
      </a>
    </li>

    <li ui-sref-active="active" ng-click="adminUserExtensionClick()">
      <a
        class="app-menu__item"
        ui-sref="{{active == 'Expired' ? 'dapp.expiredSubscription': 'dapp.adminUserExtension'}}"
      >
        <i class="fa fa-puzzle-piece menu-icon"></i>
        <span class="app-menu__label">Users Extensions</span>
        <b class="badge pull-right" style="margin-left: auto"
          >{{pendingArray.length}}</b
        >
      </a>
    </li>

    <li ui-sref-active="active" ng-click="adminTasksClick()">
      <a
        class="app-menu__item"
        ui-sref="{{active == 'Expired' ? 'dapp.expiredSubscription': 'dapp.adminTasks'}}"
      >
        <i class="fa fa-tasks menu-icon"></i>
        <span class="app-menu__label">Tasks</span>
        <b class="badge pull-right" style="margin-left: auto"
          >{{taskAssignedToUsernew.length}}</b
        >
      </a>
    </li>

    <li ui-sref-active="active" ng-click="adminsuperAauditLogClick()">
      <a
        class="app-menu__item"
        ui-sref="{{active == 'Expired' ? 'dapp.expiredSubscription': 'dapp.adminsuperAauditLog'}}"
      >
        <i class="fa fa-history menu-icon"></i>
        <span class="app-menu__label">Audit Log</span>
      </a>
    </li>

    <li
      class="treeview"
      ng-class="{'is-expanded': subConfigMenuActive}"
      ui-sref-active="is-expanded"
    >
      <a
        class="app-menu__item"
        data-toggle="treeview"
        href="javascript:void(0);"
        ng-click="expandConfigSubMenu()"
      >
        <i class="fa fa-cog menu-icon"></i>
        <span class="app-menu__label">System Configuration</span>
        <i class="treeview-indicator fa fa-angle-right"></i>
      </a>
      <ul class="treeview-menu">
        <li
          ui-sref-active="active"
          ui-sref="{{active == 'Expired' ? 'dapp.expiredSubscription': 'dapp.superAconfCountry'}}"
        >
          <a class="treeview-item"><i class="fa fa-tags"></i>Role Alias</a>
        </li>
        <li
          ui-sref-active="active"
          ui-sref="{{active == 'Expired' ? 'dapp.expiredSubscription': 'dapp.superAconfState'}}"
        >
          <a class="treeview-item"><i class="fa fa-anchor"></i>Vessel Type</a>
        </li>
        <li
          ui-sref-active="active"
          ui-sref="{{active == 'Expired' ? 'dapp.expiredSubscription': 'dapp.addLogo'}}"
        >
          <a class="treeview-item"><i class="fa fa-picture-o"></i>Add Logo</a>
        </li>
        <li ui-sref-active="active">
          <a class="treeview-item" ui-sref="dapp.adminPlaceholder"
            ><i class="fa fa-cube"></i>Placeholder</a
          >
        </li>
      </ul>
    </li>

    <li ui-sref-active="active" ng-click="adminReportIssueClick()">
      <a class="app-menu__item" ui-sref="dapp.adminReportIssue">
        <i class="fa fa-exclamation-triangle menu-icon"></i>
        <span class="app-menu__label">Report an Issue</span>
      </a>
    </li>
  </ul>

  <ul class="appstore">
    <li>
      <a href="#" target="_blank"
        ><img src="image/googleplay.png" alt="googleplay"
      /></a>
    </li>
    <li>
      <a href="https://play.google.com/store?hl=en" target="_blank"
        ><img src="image/appstore.png" alt="appstore"
      /></a>
    </li>
  </ul>
</aside>
