<div
  class="app-content"
  ng-app="dapp"
  ng-controller="SaConfigPlaceHolderController"
  ng-init="placeHolderList()"
>
  <div class="docubodyTitle">
    <ul id="breadcrumb">
      <li>
        <a href="javascript:void(0);">
          <span class="icon icon-beaker"> </span>Expiry Certificate Type
        </a>
      </li>
    </ul>
    <div class="bttnGroup">
      <button
        type="button"
        class="addNew"
        data-toggle="modal"
        data-target="#addplaceholder"
        data-backdrop="static"
      >
        <img src="image/addNewshipIcon.png" />Add Certificate Type
      </button>
    </div>
  </div>

  <div class="docuContent">
    <div class="manageOrganization vesslesDocumentsTable">
      <div class="row" style="margin-bottom: 5px">
        <div class="col-lg-6 col-md-6">
          <div class="datatableEntry">
            <label
              >Show
              <input
                type="text"
                ng-model="itemsPerPage"
                style="width: 40px; height: 30px"
              />
              of
              <span>{{expirycertificateList.length}}</span>
            </label>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="docuchainSearchbox">
            <div class="searchInput">
              <input
                type="text"
                placeholder="Search..."
                ng-model="placeholdersearch"
                style="height: 30px"
              />
              <button type="button" class="searchIcon">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
          <div class="docuchainmanageOrganization">
            <div class="systemConfig table-responsive">
              <table
                class="table custom-modern-table"
                style="table-layout: fixed; width: 100%; margin-bottom: 0"
              >
                <thead>
                  <tr>
                    <th style="width: 50px">
                      <div class="th-content">S.No</div>
                    </th>
                    <th
                      ng-click="orderByField='certificateType'; reverseSort = !reverseSort"
                      style="width: 35%"
                    >
                      <div class="th-content">
                        Certificate<br />Type <i class="fa fa-sort"></i>
                      </div>
                    </th>
                    <th style="width: auto">
                      <div class="th-content">Description</div>
                    </th>
                    <th class="text-center" style="width: 90px">
                      <div class="th-content">Action</div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    dir-paginate="certificate in fData = (expirycertificateList | orderBy:orderByField:reverseSort | filter:placeholdersearch) | itemsPerPage:itemsPerPage"
                    current-page="currentPage"
                  >
                    <td class="text-center">
                      {{itemsPerPage * (currentPage - 1) + $index + 1}}
                    </td>
                    <td class="font-weight-medium">
                      {{certificate.certificateType}}
                    </td>
                    <td class="text-muted">
                      {{certificate.expiryHolderDescription}}
                    </td>
                    <td class="text-center" style="white-space: nowrap">
                      <button
                        type="button"
                        class="modern-action-btn btn-edit"
                        title="Edit"
                        data-toggle="modal"
                        data-target="#updateplaceholder"
                        data-backdrop="static"
                        ng-click="getEditCertificate(certificate)"
                      >
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                      </button>
                      <button
                        type="button"
                        class="modern-action-btn btn-delete"
                        title="Delete"
                        ng-click="confirmDeleteCertificate(certificate)"
                      >
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </button>
                    </td>
                  </tr>
                  <tr ng-show="fData.length == 0">
                    <td colspan="4" class="text-center p-3">
                      No records found
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="pagination-footer">
              <div class="pagination-info">
                Showing {{expirycertificateList.length > 0 ? (itemsPerPage *
                (currentPage - 1) + 1) : 0}} to {{itemsPerPage * currentPage >
                expirycertificateList.length ? expirycertificateList.length :
                itemsPerPage * currentPage}} of {{expirycertificateList.length}}
                entries
              </div>
              <div class="pagination-controls">
                <dir-pagination-controls
                  max-size="5"
                  direction-links="true"
                  boundary-links="true"
                ></dir-pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="confplaceholder">
    <div class="modal fade" id="addplaceholder" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Create Certificate Type</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              ng-click="closeAddplaceholder()"
            >
              &times;
            </button>
          </div>
          <form
            name="createPlaceholdeForm"
            ng-submit="addCertificateType()"
            novalidate
          >
            <div class="modal-body">
              <div class="subscriptbody">
                <div class="form">
                  <div class="form-group">
                    <label
                      >Certificate Type <span style="color: red">*</span></label
                    >
                    <input
                      type="text"
                      placeholder="Certificate Type"
                      custom-focus
                      class="text-box"
                      name="placeholdername"
                      ng-model="certificateType"
                      required
                    />
                  </div>
                </div>
                <div class="form">
                  <div class="form-group">
                    <label>Description</label>
                    <input
                      type="text"
                      placeholder="Description"
                      custom-focus
                      class="text-box"
                      name="placeholderdescription"
                      ng-model="expirydescription"
                    />
                  </div>
                </div>
              </div>
              <!-- <div class="modal-footer1">
                <button
                  type="button"
                  class="btn-modern clear-btn"
                  ng-click="resetExpiryplaceHolder()"
                >
                  <span class="btn-text">CLEAR</span>
                  <span class="icon-circle"><i class="fa fa-times"></i></span>
                </button>
                <button
                  type="submit"
                  class="btn-modern submit-btn"
                  ng-disabled="createPlaceholdeForm.$pristine || createPlaceholdeForm.$invalid"
                >
                  <span class="btn-text">SUBMIT</span>
                  <span class="icon-circle"><i class="fa fa-check"></i></span>
                </button>
              </div> -->
              <div class="modal-footer1 bttnGroup">
                <button
                  type="button"
                  class="btn-modern clear-btn"
                  ng-click="resetExpiryplaceHolder()"
                >
                  <span class="btn-text">CLEAR</span>
                </button>
                <button
                  type="submit"
                  class="btn-modern submit-btn"
                  ng-disabled="updatePlaceholdeForm.$pristine || updatePlaceholdeForm.$invalid"
                >
                  <span class="btn-text">SUBMIT</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="confplaceholder">
    <div class="modal fade" id="updateplaceholder" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Update Certificate Type</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              ng-click="clsoedUpdateplaceHolder()"
            >
              &times;
            </button>
          </div>
          <form
            name="updatePlaceholdeForm"
            ng-submit="resetUpdateCertificate()"
            novalidate
          >
            <div class="modal-body">
              <div class="subscriptbody">
                <div class="form">
                  <div class="form-group">
                    <input
                      type="text"
                      ng-model="editCertificate.certificateTypeId"
                      hidden
                    />
                    <label
                      >Certificate Type <span style="color: red">*</span></label
                    >
                    <input
                      type="text"
                      placeholder="Certificate Type"
                      custom-focus
                      class="text-box"
                      name="placeholdername"
                      ng-model="editCertificate.certificateType"
                      required
                    />
                  </div>
                </div>
                <div class="form">
                  <div class="form-group">
                    <label>Description</label>
                    <input
                      type="text"
                      placeholder="Description"
                      custom-focus
                      class="text-box"
                      name="placeholderdescription"
                      ng-model="editCertificate.expiryHolderDescription"
                    />
                  </div>
                </div>
              </div>
              <!-- <div class="modal-footer1">
                <button
                  type="button"
                  class="btn-modern clear-btn"
                  ng-click="resetExpiryplaceHolder()"
                >
                  <span class="btn-text">CLEAR</span>
                  <span class="icon-circle"><i class="fa fa-times"></i></span>
                </button>
                <button
                  type="submit"
                  class="btn-modern submit-btn"
                  ng-disabled="updatePlaceholdeForm.$pristine || updatePlaceholdeForm.$invalid"
                >
                  <span class="btn-text">SUBMIT</span>
                  <span class="icon-circle"><i class="fa fa-check"></i></span>
                </button>
              </div> -->
              <div class="modal-footer1 bttnGroup">
                <button
                  type="button"
                  class="btn-modern clear-btn"
                  ng-click="resetExpiryplaceHolder()"
                >
                  <span class="btn-text">CLEAR</span>
                </button>
                <button
                  type="submit"
                  class="btn-modern submit-btn"
                  ng-disabled="createPlaceholdeForm.$pristine || createPlaceholdeForm.$invalid"
                >
                  <span class="btn-text">SUBMIT</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="preloader" ng-show="loader">
    <div id="cssload-loader">
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
    </div>
  </div>

  <!-- <toaster-container
    toaster-options="{'position-class': 'toast-custom-right', 'close-button': true, 'time-out': 5000}"
  ></toaster-container> -->
  <toaster-container
    toaster-options="{'position-class': 'toast-custom-right', 'close-button': false, 'time-out': 2000, 'progress-bar': false}"
  >
  </toaster-container>
</div>
