<div
  class="app-content"
  ng-app="dapp"
  ng-controller="SaConfigStateController"
  ng-init="countryPortList()"
>
  <div class="docubodyTitle">
    <ul id="breadcrumb">
      <li>
        <a><span class="icon icon-beaker"> </span>Port</a>
      </li>
    </ul>
    <div class="bttnGroup">
      <button
        type="button"
        class="addNew"
        data-toggle="modal"
        data-target="#addCountryState"
        data-backdrop="static"
      >
        <img src="image/stateHome.png" /> Add Port
      </button>
    </div>
  </div>

  <div class="docuContent">
    <div class="manageOrganization vesslesDocumentsTable">
      <div class="row" style="margin-bottom: 5px">
        <div class="col-lg-6 col-md-6">
          <div class="datatableEntry">
            <label
              >Show
              <input
                type="text"
                ng-model="itemsPerPage"
                style="width: 40px; height: 30px"
              />
              of
              <span>{{allCountryPortList.length}}</span>
            </label>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="docuchainSearchbox">
            <div class="searchInput">
              <input
                type="text"
                placeholder="Search..."
                ng-model="countrysearch"
                style="height: 30px"
              />
              <button type="button" class="searchIcon">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
          <div class="docuchainmanageOrganization">
            <div class="systemConfig table-responsive">
              <table
                class="table custom-modern-table"
                style="table-layout: fixed; width: 100%; margin-bottom: 0"
              >
                <thead>
                  <tr>
                    <th style="width: 50px">
                      <div class="th-content">S.No</div>
                    </th>
                    <th
                      ng-click="orderByField='countryName'; reverseSort = !reverseSort"
                    >
                      <div class="th-content">
                        Country <i class="fa fa-sort"></i>
                      </div>
                    </th>
                    <th
                      ng-click="orderByField='portName'; reverseSort = !reverseSort"
                    >
                      <div class="th-content">
                        Port <i class="fa fa-sort"></i>
                      </div>
                    </th>
                    <th class="text-center" style="width: 90px">
                      <div class="th-content">Action</div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    dir-paginate="country in fData = (allCountryPortList | orderBy:orderByField:reverseSort | filter:countrysearch) | itemsPerPage:itemsPerPage"
                    current-page="currentPage"
                  >
                    <td class="text-center">
                      {{itemsPerPage * (currentPage - 1) + $index + 1}}
                    </td>
                    <td class="font-weight-medium">{{country.countryName}}</td>
                    <td>{{country.portName}}</td>
                    <td class="text-center" style="white-space: nowrap">
                      <button
                        type="button"
                        class="modern-action-btn btn-edit"
                        title="Edit"
                        data-target="#updateCountryState"
                        data-toggle="modal"
                        data-backdrop="static"
                        ng-click="getEditCountryState(country)"
                      >
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                      </button>
                      <button
                        type="button"
                        class="modern-action-btn btn-delete"
                        title="Delete"
                        ng-click="confirmDeleteCountryState(country)"
                      >
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </button>
                    </td>
                  </tr>
                  <tr ng-show="fData.length == 0">
                    <td colspan="4" class="text-center p-3">
                      No records found
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="pagination-footer">
              <div class="pagination-info">
                Showing {{allCountryPortList.length > 0 ? (itemsPerPage *
                (currentPage - 1) + 1) : 0}} to {{itemsPerPage * currentPage >
                allCountryPortList.length ? allCountryPortList.length :
                itemsPerPage * currentPage}} of {{allCountryPortList.length}}
                entries
              </div>
              <div class="pagination-controls">
                <dir-pagination-controls
                  max-size="5"
                  direction-links="true"
                  boundary-links="true"
                ></dir-pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="confplaceholder">
    <div class="modal fade" id="addCountryState" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Create Port</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              ng-click="closeOrCancel()"
            >
              &times;
            </button>
          </div>
          <form name="addStateForm" ng-submit="addCountryState()" novalidate>
            <div class="modal-body">
              <div class="subscriptbody">
                <div class="form-group">
                  <label>Country <span style="color: red">*</span></label>
                  <div class="vesselType">
                    <select
                      ng-model="state.countryId"
                      custom-focus
                      class="text-box"
                      required
                    >
                      <option value="">Select country</option>
                      <option
                        ng-repeat="countrystate in allCountryList"
                        value="{{countrystate.countryId}}"
                      >
                        {{countrystate.countryName}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label>Port <span style="color: red">*</span></label>
                  <input
                    type="text"
                    placeholder="Enter port name"
                    custom-focus
                    class="text-box"
                    ng-model="state.portName"
                    required
                  />
                </div>
              </div>
            </div>
            <!-- <div class="modal-footer1">
              <button
                type="button"
                class="btn-modern clear-btn"
                ng-click="closeOrCancel()"
              >
                <span class="btn-text">CANCEL</span>
                <span class="icon-circle"><i class="fa fa-times"></i></span>
              </button>
              <button
                type="submit"
                class="btn-modern submit-btn"
                ng-disabled="addStateForm.$invalid"
              >
                <span class="btn-text">SUBMIT</span>
                <span class="icon-circle"><i class="fa fa-check"></i></span>
              </button>
            </div> -->
            <div class="modal-footer1 bttnGroup">
              <button
                type="button"
                class="btn-modern clear-btn"
                ng-click="closeOrCancel()"
              >
                <span class="btn-text">CANCEL</span>
              </button>
              <button
                type="submit"
                class="btn-modern submit-btn"
                ng-disabled="addStateForm.$invalid"
              >
                <span class="btn-text">SUBMIT</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="updateCountryState" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Update Port</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              ng-click="closeOrCancel()"
            >
              &times;
            </button>
          </div>
          <form name="editStateForm" ng-submit="editCountryState()" novalidate>
            <div class="modal-body">
              <div class="subscriptbody">
                <div class="form-group">
                  <label>Country <span style="color: red">*</span></label>
                  <input
                    type="text"
                    class="text-box"
                    ng-model="updateCountryState.countryName"
                    readonly
                  />
                </div>
                <div class="form-group">
                  <label>Port <span style="color: red">*</span></label>
                  <input
                    type="text"
                    placeholder="Enter port name"
                    custom-focus
                    class="text-box"
                    ng-model="updateCountryState.portName"
                    required
                  />
                </div>
              </div>
            </div>
            <!-- <div class="modal-footer1">
              <button
                type="button"
                class="btn-modern clear-btn"
                ng-click="closeOrCancel()"
              >
                <span class="btn-text">CANCEL</span>
                <span class="icon-circle"><i class="fa fa-times"></i></span>
              </button>
              <button
                type="submit"
                class="btn-modern submit-btn"
                ng-disabled="editStateForm.$invalid"
              >
                <span class="btn-text">SUBMIT</span>
                <span class="icon-circle"><i class="fa fa-check"></i></span>
              </button>
            </div> -->
            <div class="modal-footer1 bttnGroup">
              <button
                type="button"
                class="btn-modern clear-btn"
                ng-click="closeOrCancel()"
              >
                <span class="btn-text">CANCEL</span>
              </button>
              <button
                type="submit"
                class="btn-modern submit-btn"
                ng-disabled="editStateForm.$invalid"
              >
                <span class="btn-text">SUBMIT</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="preloader" ng-show="loader">
    <div id="cssload-loader">
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
    </div>
  </div>

  <!-- <toaster-container
    toaster-options="{'position-class': 'toast-custom-right', 'close-button': true, 'time-out': 5000}"
  ></toaster-container> -->
  <toaster-container
    toaster-options="{'position-class': 'toast-custom-right', 'close-button': false, 'time-out': 2000, 'progress-bar': false}"
  >
  </toaster-container>
</div>
