<!-- <div class="docu-login-section">
        <div class="docu-login-logo" ng-nicescroll>
            <div class="docu-form">
                <div class="docu-logo">
                    <img src="image/logo.png" alt="logo">
                    <h1>Forgot Password</h1>
                </div>
                <div class="docu-form-div">
                    <form ng-submit="forgotPass(fpass)" name="forgotPasswordForm">
                        <div class="docu-form-group">
                            <input type="email" class="form-input" name="emailId" ng-pattern="/^([a-z0-9\+_\-]+)(\.[a-z0-9\+_\-]+)*@([a-z0-9\-]+\.)+[a-z]{2,6}$/" ng-model="fpass.mail" placeholder="Email" required>
                            <p style="color:red;" ng-show='forgotPasswordForm.emailId.$error.pattern && !forgotPasswordForm.emailId.$untouched'>Please enter valid email address</p>

                        </div>
                        <div class="docu-form-group forgt-pwd1">
                            <a ui-sref="dapp.login">Click here to login</a>
                        </div>
                        <div class="docu-form-group text-center">
                            <button type="submit" class="docu-submit-btn" ng-disabled="forgotPasswordForm.$pristine|| forgotPasswordForm.$invalid || isDisabled">Send</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="docu-group-logo">
            <div class="docu-group">
                <img src="image/GN-Logo.png">
            </div>
        </div>
        <div class="preloader" ng-show="loader">
            <div id="cssload-loader">
                <div class="cssload-dot"></div>
                <div class="cssload-dot"></div>
                <div class="cssload-dot"></div>
                <div class="cssload-dot"></div>
                <div class="cssload-dot"></div>
                <div class="cssload-dot"></div>
                <div class="cssload-dot"></div>
                <div class="cssload-dot"></div>
            </div>
        </div>
        <toaster-container toaster-options="{'time-out': 5000 ,'animation-class': 'toast-top-center'}"></toaster-container>

    </div> -->

<div class="docu-login-wrapper" ng-app="dapp" ng-controller="LoginController">
  <div class="docu-login-overlay"></div>

  <div class="split-main-container">
    <div class="left-half">
      <div class="side-logo-wrapper">
        <img
          src="image/Sealedger-Dark.png"
          alt="Group Nautical"
          class="gn-side-logo"
        />
      </div>
    </div>

    <div class="right-half">
      <div class="glass-login-card">
        <div class="card-header-content">
          <img
            src="image/DocuChain-Light.png"
            alt="DocuChain Logo"
            class="card-inner-logo"
          />
          <h2>FORGOT PASSWORD</h2>
          <p>Enter your email to reset your session</p>
        </div>

        <div class="card-body-content">
          <form ng-submit="forgotPass(fpass)" name="forgotPasswordForm">
            <div class="glass-input-group">
              <input
                type="email"
                name="emailId"
                class="form-control"
                ng-model="fpass.mail"
                placeholder="Email Address"
                ng-pattern="/^([a-z0-9\+_\-]+)(\.[a-z0-9\+_\-]+)*@([a-z0-9\-]+\.)+[a-z]{2,6}$/"
                required
              />
              <i class="fa fa-envelope"></i>
            </div>

            <p
              class="error-text"
              ng-show="forgotPasswordForm.emailId.$error.pattern && !forgotPasswordForm.emailId.$untouched"
            >
              Please enter a valid email address
            </p>

            <div class="action-row">
              <a ui-sref="dapp.login" class="forgot-link">
                <i class="fa fa-arrow-left"></i> Back to Login
              </a>
            </div>

            <button
              type="submit"
              class="btn-modern-signin"
              ng-disabled="forgotPasswordForm.$invalid || isDisabled"
            >
              SEND RESET LINK
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="preloader" ng-show="loader">
    <div id="cssload-loader">
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
    </div>
  </div>
  <toaster-container
    toaster-options="{'time-out': 5000 ,'animation-class': 'toast-top-center'}"
  ></toaster-container>
</div>
